<html>
    <head>
        {% assets "javascript" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "css" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}
    </head>
    <body>
        <form action="/" method="POST">
            <textarea name="data" id="chart-data" cols="80" rows="40">{{ template_data.chart_data }}</textarea>
            <br/>
            <input type="submit" value="Save">
        </form>

        <div id="diagram"></div>
    </body>
</html>
